
.renard {
	content:url('../renard.jpg');
	height: 20px;
  	width: 20px;
	/* background-color : red; */
}
.lapin {
	content:url('../lapin.jpg');
	height: 20px;
  	width: 20px;
}

.vide {
	content:url('../herbe.jpg');
	height: 20px;
  	width: 20px;
}
.rTable { display: table; }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead { display: table-cell; }