 <html>
 <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='js/renard.js') }}"></script>
</head>
<h1> Expérience Renard & Lapin, Codé par Monsieur Giraldine</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
					<form>
					<div class="form-style-10" class="inner-wrap">
						<label for="nbRenards">Nombre de Renards :</label>
						<input placeholder="Nombre de Renards" type="number" id="nbRenards" step=10 value=10 min=0>

						<label for="nbLapins">Nombre de Lapin :</label>
						<input placeholder="Nombre de Lapins" type="number" id="nbLapins" step=10 value=30 min=0>

						<label for="dureeSurvieRenard">Durée de survie du renard sans manger :</label>
						<input placeholder="Vie Renard sans manger" type="number" id="dureeSurvieRenard" value=10 min=0>

						<label for="tailleX">Longueur du terrain :</label>
						<input placerholder="Longueur du terrain" type="number" id="tailleX" value=10 min=2>

						<label for="tailleY">Largeur du terrain :</label>
						<input placerholder="Largeur du terrain" type="number" id="tailleY" value=10 min=2>

						<label for="rangeRenard">Distance de détection des renards :</label>
						<input placerholder="Distance détection Renards" type="number" id="rangeRenard" value=3 min=1>

						<label for="frequenceApparition">Fréquence d'apparition des lapins :</label>
						<input placerholder="Fréquence d'apparition Lapins"type="number" id="frequenceApparition" value=0.1 min=0 max=1 step = 0.01>

						<label for="nbTourMax">Nombre de Tour à simuler :</label>
						<input placeholder="Nombre de tours" type="number" id="nbTourMax" value=10 min=0>
					</div>
					</form>
				</div>
				<div class="col-md-8">
					<div class="row">
						<button  id='btnTour'>Tour par tour</button> 
						<button  id='btnSimu'>Simulation Complète</button>
					</div>
					<div class="row">
						<div id="test" class="rTable">
					</div>
				</div>
				
		</div>
		<div class="col-md-2">
					<div class="row">
						<ul class="nav nav-pills">
						<li class="nav-item">
							 <a class="nav-link btn btn-primary" >Renards vivants <span id="rvivant" class="badge badge-light">42</span></a>
						</li>
						<li class="nav-item">
							 <a class="nav-link">Renards Morts <span id="rmort" class="badge badge-secondary">16</span></a>
						</li>
						<li class="nav-item">
							 <a class="nav-link btn btn-primary" >Lapins vivants <span id="lvivant" class="badge badge-light">42</span></a>
						</li>
						<li class="nav-item">
							 <a class="nav-link" >Lapins Morts <span id="lmort" class="badge badge-secondary">16</span></a>
						</li>
						<li class="nav-item">
							 <a class="nav-link btn btn-primary" >Nombre de tours : <span id="nbretour" class="badge badge-light">42</span></a>
						</li>
					</ul>
					</div></div>
			</div>
	</div>
</div>

	





<div id="myDiv">
	<table id="sketuveu">
		<tbody></tbody>
	</table>
</div>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
function miseEnForme(simulation) {
	simulation=JSON.parse(JSON.parse(simulation).replace(/'/g,'"'));
	var monTableau = document.getElementById('test');
	monTableau.innerHTML = '';
	for (var i = 0; i < simulation.tableau.length; i++) {
		var newRow = document.createElement('div');
		newRow.className = 'rTableRow';
		for (var j = 0; j < simulation.tableau[i].length; j++) {
			var newText = document.createElement('div');
			newText.className ='rTableCell';
			newRow.appendChild(newText);

			if (simulation.tableau[j][i].type=='R') {
				var newImg = document.createElement('img');
				newImg.src ="{{ url_for('static', filename='renard.jpg') }}";
				newImg.style.height = '30px';
				newImg.style.width = '30px';
				newImg.setAttribute("data-toggle", "tooltip");
				newImg.title="Renard : x :"+simulation.tableau[j][i].positionX+',y : '+simulation.tableau[j][i].positionY+',vie : '+simulation.tableau[j][i].vie;
				newText.append(newImg);
			}
			else if (simulation.tableau[j][i].type=='L') {
				var newImg = document.createElement('img');
				newImg.src ="{{ url_for('static', filename='lapin.jpg') }}";
				newImg.style.height = '30px';
				newImg.style.width = '30px';
				newImg.setAttribute("data-toggle", "tooltip");
				newImg.title="Lapin : x :"+simulation.tableau[j][i].positionX+',y : '+simulation.tableau[j][i].positionY
				newText.append(newImg);
			}
			else {
				var newImg = document.createElement('img');
				newImg.src ="{{ url_for('static', filename='herbe.jpg') }}";
				newImg.style.height = '30px';
    			newImg.style.width = '30px';
				newText.append(newImg);
			}
		}
		monTableau.appendChild(newRow)
	}
}

$("#btnTour").click(function(){callPython()});
$("#btnSimu").click(function(){
	var g=0;
	document.getElementById(btnSimu.id).disabled = true;
	for(var i=0;i<document.getElementById('nbTourMax').value;i++){
		setTimeout(function(){ 
			callPython();
			g++;
			if(g==document.getElementById('nbTourMax').value){
				setTimeout(function(){ 
					$.ajax({url : 'http://localhost:5000/initSimu',type :'GET'});
					document.getElementById(btnSimu.id).disabled = false;
				},10000);
			}
		}, i*2000);

		
	}
	
});

function callPython(){
	var frequenceApparition = document.getElementById('frequenceApparition').value;
	var rangeRenard = document.getElementById('rangeRenard').value;
	var dureeSurvieRenard = document.getElementById('dureeSurvieRenard').value;
	var nbRenards = document.getElementById('nbRenards').value;
	var nbLapins = document.getElementById('nbLapins').value;
	var tailleX = document.getElementById('tailleX').value;
	var tailleY = document.getElementById('tailleY').value;
	var nbTourMax = document.getElementById('nbTourMax').value;	
	$.ajax({url : 'http://localhost:5000',type :'POST',data :'frequenceApparition='+frequenceApparition+'&rangeRenard='+rangeRenard+'&dureeSurvieRenard='+dureeSurvieRenard+'&nbRenards='+nbRenards+'&nbLapins='+nbLapins+'&tailleX='+tailleX+'&tailleY='+tailleY+'&nbTourMax='+nbTourMax,success : function(res, statut){
		miseEnForme(res);
		}
	});
}
</script>
</html>